@import "../../../../sass/spaces.scss";
@import "../../../../sass/colors.scss";

.button {
    padding: $space-medium $space-x-large;
    border-radius: $space-x-large;
    border: none;
    outline: none;
    background: $color-light;
    color: $color-dark;
    font-weight: bold;
}