@import "../../../sass/colors.scss";
@import "../../../sass/spaces.scss";

.row {
    display: inline-flex;
    align-items: stretch;
    justify-content: flex-start;
    
    > * {
        margin: $space-medium;
    }
}