@import "../../../../sass/colors.scss";
@import "../../../../sass//spaces.scss";

.filter-card {
  flex: 1;

  display: inline-flex !important;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background-color: white;

  &__heading {
    color: $color-dark;
    font-size: $space-x-large;
    font-weight: normal;
  }

  &__data {
    margin-top: $space-large;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
