@import "../../../../sass/colors.scss";
@import "../../../../sass/spaces.scss";

.text {
    padding: $space-large $space-xx-large;
    border-radius: 30rem;
    border: none;
    outline: none;
    background: $color-light;

    &:placeholder {
        color: $color-text-light;
    }
}