@import "../../../../sass/colors.scss";
@import "../../../../sass/spaces.scss";

.reports-amount-card {
  background-color: white;
  flex: 1;
  align-self: flex-start;

  &__heading {
    color: $color-text-dark;
    margin-left: 1rem;
  }
  &__data {
    color: $color-primary;
    margin-top: $space-large;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
  }
}
