@import "../../../sass/spaces.scss";
@import "../../../sass/colors.scss";

.cta-button {
    padding: $space-medium $space-x-large;
    border-radius: $space-x-large;
    border: none;
    outline: none;
    background: $color-primary;
    color: $color-text-light;
    font-weight: bold;
    box-shadow: 0 .8rem 1.6rem rgba($color-primary, 0.15);
}