@import "../../../../sass/colors.scss";

@import "../../../../sass/spaces.scss";

.statistics-card {
    flex: 1;
    flex-basis: 35rem;
    
    &__content {
        display: inline-flex !important;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        flex: 1;
    }

    
    background-color: white;

    * > {
        flex: 1;
    }

    &__data {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }

    &__tags {
        > * {
            margin: $space-small;
        }
    }
}