@import "../../../../sass/spaces.scss";
@import "../../../../sass/colors.scss";

.discrete-button {
    padding: $space-medium $space-x-large;
    border-radius: $space-x-large;
    border: none;
    outline: none;
    background: transparent;
    color: $color-text-dark;
    font-weight: normal;
    cursor: pointer;
}

.discrete-button-big {
    font-size: 1.8rem;
}