@import "../../../sass/spaces.scss";
@import "../../../sass/colors.scss";

.date-picker {
  padding: $space-large $space-x-large;
  border-radius: $space-medium;
  background-color: $color-light;
  color: $color-dark;
  margin-right: $space-x-large;

  border: none;
  outline: 0;

  ::placeholder {
    color: $color-dark;
    font-size: $space-x-large;
  }
}