@import "../../../../sass/spaces.scss";
@import "../../../../sass/colors.scss";

.password {
    padding: $space-medium $space-x-large;
    border-radius: 30rem;
    border: none;
    outline: none;
    background: $color-light;

    &:placeholder {
        color: $color-text-light;
    }
}