@import "../../../sass/colors.scss";
@import "../../../sass/spaces.scss";
@import "../../../sass/mixins.scss";

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__content {
        display: flex;
        height: 100%;
    }

    &__user-controls {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__title {
        margin-left: $space-xxxx-large;
        display: flex;
        flex-direction: column;

        > *:not(:last-child) {
            margin-bottom: $space-x-large;
        }

        &--accounts {
            display: inline-block;
            align-self: flex-start;   
        }

        &--title {
            display: inline-block;
            font-size: 7.2rem;
            color: $color-text-dark;

            span {
                display: inline-block;
                border-bottom: 1.2rem solid $color-primary;
            }

            @include respond(tab-land) {
                font-size: 6.4rem;
            }
        }

        &--buttons {
            align-self: flex-start;
            button {
                transition: all .2s;
                &:hover {
                    transform: translateY(-.5rem) scale(1.05);
                }
            }
            *:not(:last-child) {
                margin-right: $space-x-large;
            }
        }
    }

    &__introduction {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__splash {
        flex: 1;
        flex-basis: 90rem;
        margin-left: $space-xxxxx-large;
        position: relative;
        display: flex;
        justify-content: stretch;
        align-items: center;
        max-width: 50%;

        &--image {
            position: absolute;
            padding: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: all .3s ease-out;
            filter: brightness(.9);
        }

        &--content {
            position: relative;
            margin: $space-xxxx-large;
            color: $color-text-dark;
            transition: all .3s ease-out;

            &--title {
                font-size: 3.6rem;
                margin-bottom: $space-large;
                background-color: white;
                padding: $space-medium;
                transition: all .2s;
                transform: skewY(-4deg);
            }

            &--text {
                //font-size: 1.8rem;
                line-height: 1.8;
                text-align: justify;
                margin-bottom: $space-x-large;
                background-color: white;
                padding: $space-medium;
                transition: all .2s;
                transform: skewY(-4deg);
            }

            &--repos {
                display: flex;
                transform: skewY(-4deg);
                transition: all .2s;

                &:not(:last-child) {
                    margin-bottom: $space-xxx-large;
                }
            }

            &--data {
                transform: skewY(-4deg);
                padding: $space-medium;
                display: flex;

                > div {
                    transition: all .2s ease-out;

                    &:hover {
                        transform: translate(-.5rem, -.5rem) scale(1.05);
                    }
                }
            }

            &--github {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                border-radius: 1.6rem;
                margin-left: $space-xx-large;
                background-color: rgba($color-light, .2);
                backdrop-filter: blur(1rem);
                box-shadow: 0 .8rem 1.6rem rgba(#000, .15);
                color: $color-text-light;
                text-decoration: none;
                transition: all .2s ease-out;
                padding: $space-xxx-large;

                &:hover {
                    box-shadow: 0 .8rem 2.4rem rgba(#000, .1);
                    transform: translate(-.8rem, -.8rem) scale(1.08);
                }

                h3 {
                    border-bottom: .4rem solid $color-text-light;
                    text-shadow: 0 .4rem .8rem rgba(#000, .15);
                }
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &--email {
            margin-top: auto;
            margin-bottom: $space-xx-large;
            width: 2.8rem;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-size: 2.4rem;
            color: $color-text-dark;
        }

        &--social-media {
            display: flex; 
            flex-direction: column;

            a {
                padding: $space-xx-large;
                text-decoration: none;
                font-weight: bolder;

                &:nth-child(1) {
                    background-color: $color-sm-snapchat;
                    color: $color-text-dark;
                }

                &:nth-child(2) {
                    background-color: $color-sm-instagram;
                    color: $color-text-light;
                }

                &:nth-child(3) {
                    background-color: $color-sm-facebook;
                    color: $color-text-light;
                }
            }
        }
    }
}