@import "../../../../sass/spaces.scss";

.welcome-card {
  flex: 1;

  display: inline-flex !important;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  background-color: white;

  * > {
    flex: 1;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    flex: 1;
    background-color: white;
  }

  &__buttons {
    *:not(:last-child) {
      margin-right: $space-xx-large;
    }
  }
}
