.welcome-card {
  flex: 1;

  display: inline-flex !important;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  background-color: white;

  * > {
    flex: 1;
  }
}

.welcome-card button {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-right: 25px;
}
