@import "../../../sass/colors.scss";
@import "../../../sass/spaces.scss";

.container {
    background-color: $color-light;
    padding: $space-x-large;
    border-radius: 2.4rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 80rem;
}