@import "../../../../sass/colors.scss";
@import "../../../../sass/spaces.scss";

.day-card {
  flex: 1;
  background-color: white;

  &__data {
    color: $color-primary;
    margin-top: $space-large;
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
  }
}
